/* importing fonts */
@import url(https://fonts.googleapis.com/css?family=Azeret+Mono:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* reseting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* banner styles start */
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 998px;
}

.banner {
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-image {
  margin-top: 26px;
}

.banner-heading {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin: 32px 0 24px;
}

.banner-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}

.banner-button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  padding: 21px 24px;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  margin: 32px 0 44px;
}
/* banner styles end */

