/* importing fonts */
@import url(https://fonts.googleapis.com/css?family=Azeret+Mono:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* reseting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Azeret Mono", monospace;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* buttons */
.button-outline {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  padding: 12px 29px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}

/* banner styles start */
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 998px;
}

.banner {
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-image {
  margin-top: 26px;
}

.banner-heading {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin: 32px 0 24px;
}

.banner-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}

.banner-button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  padding: 21px 24px;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  margin: 32px 0 44px;
}
/* banner styles end */

/* why-web-dev styles start */

.why-web-dev {
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
  margin-top: 74px;
  margin-bottom: 88px;
}

.why-web-dev-content {
  max-width: 852px;
  margin: 0 auto;
  padding-top: 80px;
}
.why-web-dev-heading {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.why-web-dev-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}

.why-web-dev-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 16px;
  padding: 80px 0px;
}

.why-web-dev-card {
  display: flex;
  max-width: 1012px;
  gap: 100px;
  padding: 48px;
  background-color: white;
  border-radius: 16px;
}

.why-web-dev-card-heading {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.why-web-dev-card-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: left;
  margin: 16px 0 32px;
}
/* why-web-dev styles end */

/* my inspiration styles start*/
.my-inspiration-heading {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 24px;
}

.my-inspiration-description {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  max-width: 852px;
  margin: 0 auto;
  text-align: center;
}
.my-inspiration-youtube-video {
  border-radius: 16px;
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  margin: 48px auto 149px;
}
.my-inspiration-youtube-video iframe {
  border-radius: 16px;
}
/* my inspiration styles end*/

/* my current target style start */
.current-target {
  margin-bottom: 111px;
}

.current-content-heading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.current-content-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 24px auto 48px;
}

.current-target-card-heading {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0 8px;
}

.current-target-card-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 24px;
}

.current-target-card-button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.current-target-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.current-target-card {
  width: 364px;
  padding: 40px;
  border-radius: 16px;
}

.current-target-card:nth-child(1) {
  background: rgba(255, 76, 30, 0.05);
}
.current-target-card:nth-child(2) {
  background: rgba(0, 76, 232, 0.05);
}
.current-target-card:nth-child(3) {
  background: rgba(255, 223, 0, 0.05);
}
/* my current target style end */

/* support section style start */
.support {
  background: url(../assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 64px;
  margin-bottom: 79px;
}

.support-heading {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.support-description {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 16px auto 24px;
}

.support-form-section {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.support-form {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.support-submit-button {
  padding: 17px 20px;
  border: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: #ffffff;
}

.support-form-email-input {
  padding: 20px;
  border: none;
  border-radius: 8px;
  width: 548px;
}

.support-form-email-input::placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
/* support section style end */
